/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .container { width: 100%; }
    body { overflow-y: auto;
        -webkit-overflow-y: auto;
        -moz-overflow-y: auto; }

}



/* Tabled Portrait */
@media screen and (max-width: 768px) {
   .container { width: 100px; }

   .expenses { margin-top: 50px; }

    .income__list { width: 400px; }
    .expenses__list { width: 400px; }
    body { overflow-y: auto;
        -webkit-overflow-y: auto;
        -moz-overflow-y: auto; }
        .container { margin-left: 30px;}
        .budget { margin-top: 20px; }
        .add { margin-top: 40px;}

}
    img { max-width: 100%; }





@media screen and (max-width: 480px) {
    .income__list { width: 200px; }
    .expenses__list { width: 200px; }
    .add__description  { width: 200px;}
    .container { margin-left: 30px;}
    .budget { margin-top: 30px; }
    .add { margin-top: 20px;}
    body { overflow-y: auto;
    -webkit-overflow-y: auto;
-moz-overflow-y: auto; }
.budget_value { margin-top: 20px; }
.budget__income,
.budget__expenses { width: 330px; }

}

